<ion-view view-title="Time Tracking">
    <ion-content class="padding" ng-controller="TimerCtrl">

        <div class="row">
            <div class="timer">
                {{currentTime | date:'HH:mm:ss:sss'}}
            </div>
        </div>

        <div class="row buttons">
            <button class="button icon-left ion-ios-play button-royal btn-stage">Stage</button>
            <button class="button icon-left ion-ios-play button-energized btn-start">Start</button>
        </div>

    </ion-content>
</ion-view>
